body{
    background-color: #F4F4F4 !important;
    font-family:  Roboto, sans-serif !important;
}
a.anchor{
   display: block; 
   position: relative; 
   top: -150px; 
   visibility: hidden;
}

.navbar{

    background-color: #373737 !important;
    font-family:  Montserrat, sans-serif !important;
}


#myNavbar{
    padding-right: 30px;

}

nav > div{

    margin-left: 30px !important;
}

#about{
    background-color: #F4EEE1;
    color: #000000;
}

#about h2{
    border: solid;
    border-color: #000000;
    border-width: 2px;
    margin-bottom: 50px;
}


#about img{
    border: solid;
    border-color: black;
    border-width: 0;

}

#buttonsDiv button{
    border-radius: 0 !important;
    color: black;
    font-size: 30px;
    height: 40px;
    background: none;
    border: none;
}

#buttonsDiv a{
    font-size: 30px;
    color: black;
    margin: 0 10px 0 10px;
}

#buttonsDiv a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}



#portfolio{
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 auto;
}

#portfolio h2{
    background-color: #FFFFFF;
    border: solid;
    border-color: #000000;
    border-width: 2px;
}

#portfolio > div > img{
    margin: auto;
    padding: 20px;
}

#contact{
    background-color: #F4EEE1;
    color: #000000;
}

#contact h2{
    border: solid;
    border-color: #000000;
    border-width: 2px;
}

#contactFields input{
    margin-bottom: 10px;
    border-radius: 0 !important;
    border: solid;
    border-color: #373737;
    border-width: 1px;
}
#contactFields button{
    margin: 20px 0 10px 0;
    border-radius: 0 !important;
    border: solid;
    border-color: #373737;
    border-width: 1px;
    color: #000000;
    background-color: #F4EEE1;
}

#contactFields textarea{
    border-radius: 0 !important;
    border: solid;
    border-color: #373737;
    border-width: 1px;
    resize: none;

}

#submitButton{
    margin-top: 30px !important;
    width: 120px;
    color: #373737;
    border: solid;
    border-color: #373737;
    border-width: 2px;
}

#footer{
    background-color: #373737;
    color: #FFFFFF;
}

#top-left-box p{
    font-size: 16px;
}

#top-right-box a{
    font-size: 60px;
}

#top-right-box a:hover{
    text-decoration: none;
}



@media(max-width: 768px){


    h2{
        font-size: 40px !important;
        margin: 0 auto;
        padding: 20px 0 20px 0;
        width: 220px;
    }

    nav > div{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    #about, #portfolio, #contact{
        margin: 0 auto;
        border: solid;
        border-color: black;
        border-width: 0;
        width: 100%;
    }

    #about{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #aboutDescription{
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    #slideshow{
        height: 80px;
    }


    #about img{
        margin: 0 auto;
    }

    #portfolio{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #portfolio > div{
        margin-top: 20px;
    }
    #portfolio > div > img{
        margin-bottom: 20px;
    }

    #contact{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #contact h2{
        margin-bottom: 60px !important;
    }

    #contactFields{
        width: 80%;
        margin-bottom: 20px !important;
    }

    #contactText{
        float: none !important;
        text-align: center !important;
        font-size: 18px;
    }

    #footer{
        padding: 100px 0 40px 0;
        margin: 0 auto;
        width: 100%;
        font-size: 18px;
    }

    #footer h2{
        font-size: 20px !important;
        margin: 0 auto;
        padding: 20px 0 20px 0;
        width: 240px;
    }

    #top-right-box .fa{
        font-size: 60px;
    }

}





@media(min-width: 768px) and (max-width: 1100px){

    h2{
        font-size: 130px !important;
        margin: 0 auto;
        margin-top: 150px !important;
        margin-bottom: 150px;
        padding: 20px 0 20px 0;
        width: 680px;
    }

    nav > div{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .icon-bar{
        width: 80px !important;
        height: 8px !important;
        font-size: 120px !important;
        margin: 15px 0 15px 0 !important;
        padding: 0;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 100px !important;
        height: 140px !important;
        padding: 0;
        font-size: 80px !important;
    }




    #about, #portfolio, #contact{
        margin: 0 auto;
        border: solid;
        border-color: black;
        border-width: 0;
        width: 100%;
    }

    #about{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #aboutDescription{
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 65px;
    }

    #slideshow{
        height: 250px;
    }


    #about img{
        width: 95%;
        margin: 0 auto;
    }

    #buttonsDiv button{
        height: 150px;
        font-size: 150px;
        margin: 50px 40px 40px 40px;
    }

    #portfolio{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #portfolio > div{
        margin-top: 20px;
        width: 95%;
    }
    #portfolio > div > img{
        margin-bottom: 20px;
    }

    #contact{
        padding-top: 100px;
        padding-bottom: 40px;
    }

    #contact h2{
        margin-bottom: 60px !important;
    }

    #contactFields{
        width: 90%;
        margin-bottom: 20px !important;
        margin-top: 180px !important;
    }

    #contactFields input[type="text"]{
        font-size: 45px;
        height: auto;
        margin: 10px 0 50px 0;
    }

    #contactFields textarea{
        font-size: 45px;
        margin-bottom: 45px;

    }

    #contact button{
        font-size: 55px;
    }

    #contactText{
        float: none !important;
        text-align: center !important;
        font-size: 52px;
        margin-top: 50px;
        margin-bottom: 60px;
        width: 95%;
    }
    #footer{
        padding: 100px 0 40px 0;
        margin: 0 auto;
        width: 100%;
        font-size: 50px !important;
    }

    #footer h2{
        font-size: 92px !important;
        margin: 0 auto;
        padding: 0;
        width: 98%;
    }

    #top-left-box p{
        font-size: 36px;
    }

    #top-right-box .fa{
        font-size: 160px;
        margin: 20px 8px 0 8px;
    }




}

@media(min-width: 1100px){

    h2{
        font-size: 26px !important;
        padding: 20px 0 20px 0;
        margin: 0 400px 0 400px;

    }

    nav{
        height: 60px !important;
        box-shadow: 0 0 8px 0 rgba(55,55,55,0.7);
        border-width: 0 !important;

    }

    #myNavbar{
        font-size: 16px;
    }

    #navbar-brand{
        font-size: 20px;
    }

    nav > div{
        margin-top: 6px;
    }

    #about, #portfolio, #contact {
        margin: 0 auto;
        margin-top: 100px;
        border: solid;
        border-color: black;
        border-width: 1px;
        width: 1050px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    }



    #about{
        padding-top: 20px;
        padding-bottom: 160px;
    }

    #aboutDescription{
        padding-top: 40px;
        font-size: 20px;
    }

    #slideshow{
        height: 120px;
    }

    #portfolio{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #portfolio > div{
        margin-top: 40px;
    }
    #portfolio > div > img{
        margin-bottom: 20px;
    }

    #contact{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 100px;
    }

    #contact h2{
        margin-bottom: 40px !important;
    }
    
    #contactText{
      font-size: 18px;
    }

    #footer{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 !important;
        border: solid;
        border-color: black;
        border-width: 0 0 0 0;
        width: auto !important;
    }

    #footer h2{
        font-size: 40px !important;
        margin: 0 60px 0 60px;
        padding: 20px 0 20px 0;
    }

    #top-right-box > div > a{
        margin: 0 3px 0 3px;
    }

    #top-right-box .fa{
        font-size: 60px;
    }

}

